*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.active{
    color:orange;
}

h1,h2{
  text-align: center;
}




ul{
    height:40px;
    align-items: center;
    /* border:2px solid red; */
    list-style: none;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    background-color:pink;
    padding:20px 10px;
    
}

ul li{
    text-decoration: none;
    font-weight:700;
    color: black;
    width:60px;
    text-align: center;
    border-radius:10px;
    background-color:white;
    cursor: pointer;
}

.underline{
    text-decoration: none;
    color: black;
}

#clear-btn{
    text-decoration: none;
    border: none;
    font-weight:700;
    color: black;
    width:60px;
    text-align: center;
    border-radius:10px;
    background-color:white;
    cursor: pointer;
    
}

.btn1{
    /* border:2px solid yellowgreen; */
    display: flex;
    justify-content: space-around;
}

table{
  margin-top:20px;
}

.edi-btn{
    color:white;
    background-color: royalblue;
   border-radius:10px;
   border: none;
   font-size:12px;
   width:50px;
   height:15px;

}

[value="register"]{
    height:25px;
    width:80px;
    background-color:red;
    border: none;
    color: white;
    font-weight:650;
    cursor: pointer;
    border-radius:10px;
}